*.class

# caches
war/WEB-INF/deploy/
war/WEB-INF/classes/
gwt-unitCache/
war/gwt_bree/

# compilation logs
.gwt/

# boilerplate generated classes 
.apt_generated/

# gwt junit compilation files
www-test/