*.class

# caches
Alcolist/war/WEB-INF/deploy/
Alcolist/war/WEB-INF/classes/
Alcolist/gwt-unitCache/
Alcolist/war/gwt_bree/

# compilation logs
.gwt/

# boilerplate generated classes 
.apt_generated/


# gwt junit compilation files
www-test/