/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */


.title {
	font-size: 3em;
	font-weight: bold;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.listPanel {
	border: 1px solid black;
	background: white;
	moz-box-shadow: 0 0 30px 5px #999;
	webkit-box-shadow: 0 0 30px 5px #999;
}

.locationTextBox {
	border: 1px solid black;
}

.gwt-ToggleButton-up,.gwt-ToggleButton-up-hovering,.gwt-ToggleButton-up-disabled {
  padding: 0px 0px 0px 0px;
}

.gwt-ToggleButton-down,.gwt-ToggleButton-down-hovering,.gwt-ToggleButton-down-disabled {
  padding: 0px 0px 0px 0px;
}

.gwt-PushButton-up,.gwt-PushButton-up-hovering,.gwt-PushButton-up-disabled {
  padding: 0px 0px 0px 0px;
}

.gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled {
  padding: 0px 0px 0px 0px;
}

.gwt-SuggestBox-search {
	border: 0px;
	width:250px;
	padding:2px;
}

.gwt-SuggestBox-location {
	border: 0px;	
	width:200px;
	padding:2px;
	font-style: italic;
	background: #FFFFCC;
}

.gwt-SuggestBox-setLocation {
	padding-right: 20px;
	border: 0px;
	width:200px;
	padding:2px;
	font-style: normal;
	background: white;
}

.gwt-SuggestBox-locationInvalid {
	border: inset 10px;
	border-color: red;
	width:200px;
	padding:2px;
	font-style: normal;
/* 	background: red; */
}

.gwt-Button-addLocation {
	font-size: 90%;
}


.gwt-PushButton-up, .gwt-PushButton-down, .gwt-PushButton-up-hovering {
	background: white;
	font-color: grey;
	padding: 0px 0px 0px 0px;
	text-align: center;
	border: 0px;
	height: 30px;
}

.gwt-Label-locations {
	font-style: italic;
}



/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
